body {
    font-family: 'Arial', sans-serif;
    background-color: #ffcfff;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    
}

#taskForm {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #ffc0cb; /* Pink background color */
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

#taskForm > div {
    flex: 1;
    margin: 0 10px;
}

#taskList {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    margin: 0 10px 20px;
    transition: transform 0.3s ease-in-out;
    -webkit-user-drag: element;
}

li:hover {
    transform: scale(1.02);
}

button {
    padding: 10px;
    background-color: #3498db;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #2980b9;
}

h3 {
    margin: 0 0 10px;
    color: #333;
}

p {
    margin: 0;
    color: #666;
}

input,
textarea {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input:focus,
textarea:focus {
    border-color: #3498db;
    outline: none;
}
li {
   
    transition: transform 0.1s ease-in-out, box-shadow 0.1s ease-in-out;
  }
  
  li:active,
  li.dragging {
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  }
  
  li:active {
    transform: scale(1.02);
  }
  select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 4px;
  }